CONFIG_TARGET_qualcommax=y
CONFIG_TARGET_qualcommax_ipq807x=y
CONFIG_TARGET_qualcommax_ipq807x_DEVICE_xiaomi_ax9000=y

#注释 ddns：CONFIG_PACKAGE_ddns-scripts-cloudflare=y
#注释 ddns：CONFIG_PACKAGE_luci-app-ddns=y

#二选一 ddns-go
CONFIG_PACKAGE_luci-app-ddns-go=y

CONFIG_PACKAGE_luci-app-msd_lite=y
CONFIG_PACKAGE_luci-app-openclash=y
CONFIG_PACKAGE_luci-app-passwall=y
CONFIG_PACKAGE_luci-app-ssr-plus=y
# CONFIG_PACKAGE_luci-app-vlmcsd is not set
CONFIG_PACKAGE_luci-theme-bootstrap=y
# CONFIG_PACKAGE_vlmcsd is not set
